body{
    background:#eeeeee;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    text-align: right;
}
h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h2{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
p{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.post img{
    max-width: 800px;
    width: 800px; 
    height: 800px;
}
.post{
    width: 900px;
    height: 900px;
    margin: auto;
    background: white; 
}
